#HelpBtn {
    left: 2.5%;
}

#QuitBtn {
    right: 2.5%;
}

#Title {
    font-size: 150px; 
}

#ScoreText {
    font-size: 150px;
    top: 25%;
    position: absolute;
}

#Score {
    font-size: 150px;
    top: 40%;
    position: absolute;
    width: 0px;
    height: 0px;
}
